body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

header {
  background-color: #14532d;
  color: white;
  text-align: center;
  padding: 20px;
} /* ← He missing hota */

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px auto;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

h3 {
  margin-top: 0;
  color: #1f2937;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #16a34a; /* green focus */
}

button {
  background-color: #16a34a;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #15803d;
}

ul {
  padding-left: 18px;
}

li {
  margin-bottom: 8px;
  font-size: 14px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #14532d;
  color: white;
  margin-top: 40px;
}
